# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Variables de entorno (NO subir contraseñas ni claves)
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuraciones locales de editores
.vscode/
